page-home {
  .scroll-content{overflow-y: hidden;}
  .backgroundLogin {
    background: $backgradient;
  }
  .whiteBann{
    background: #FFFFFF;
  }

  .btnLog{
    color: #FFFFFF;
    background-color: #4285bc;
  }

  .fontWhite{
    color:#FFFFFF;
  }
  .text_center {text-align: center;}
  .center {margin: auto 0px;}
  .float_left {float: left;}



  .scroll-content{overflow-y: hidden;}
  .backgroundLogin {
    background: $backgradient;
  }
  .whiteBann{
    background: #FFFFFF;
  }

  .btnLog{
    color: #FFFFFF;
    background-color: #4285bc;
  }

  .fontWhite{
    color:#FFFFFF;
  }
  .text_center {text-align: center;}
  .center {margin: auto 0px;}
  .float_left {float: left;}

}


